In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
df = pd.read_csv('icfes_data.csv', sep='\t')

c:\users\cristian\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (77,80,81,82,83) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [18]:
print(df.columns)

Index(['ESTU_CONSECUTIVO', 'ESTU_TIPODOCUMENTO', 'ESTU_NACIONALIDAD',
       'ESTU_GENERO', 'ESTU_FECHANACIMIENTO', 'PERIODO', 'ESTU_ESTUDIANTE',
       'ESTU_PAIS_RESIDE', 'ESTU_TIENEETNIA', 'ESTU_DEPTO_RESIDE',
       'ESTU_COD_RESIDE_DEPTO', 'ESTU_MCPIO_RESIDE', 'ESTU_COD_RESIDE_MCPIO',
       'FAMI_ESTRATOVIVIENDA', 'FAMI_PERSONASHOGAR', 'FAMI_CUARTOSHOGAR',
       'FAMI_EDUCACIONPADRE', 'FAMI_EDUCACIONMADRE', 'FAMI_TRABAJOLABORPADRE',
       'FAMI_TRABAJOLABORMADRE', 'FAMI_TIENEINTERNET', 'FAMI_TIENESERVICIOTV',
       'FAMI_TIENECOMPUTADOR', 'FAMI_TIENELAVADORA',
       'FAMI_TIENEHORNOMICROOGAS', 'FAMI_TIENEAUTOMOVIL',
       'FAMI_TIENEMOTOCICLETA', 'FAMI_TIENECONSOLAVIDEOJUEGOS',
       'FAMI_NUMLIBROS', 'FAMI_COMELECHEDERIVADOS',
       'FAMI_COMECARNEPESCADOHUEVO', 'FAMI_COMECEREALFRUTOSLEGUMBRE',
       'FAMI_SITUACIONECONOMICA', 'ESTU_DEDICACIONLECTURADIARIA',
       'ESTU_DEDICACIONINTERNET', 'ESTU_HORASSEMANATRABAJA',
       'ESTU_TIPOREMUNERACION', 'COLE_CODIGO_ICFES',
       'COLE_COD_DANE_ESTABLECIMIENTO', 'COLE_NOMBRE_ESTABLECIMIENTO',
       'COLE_GENERO', 'COLE_NATURALEZA', 'COLE_CALENDARIO', 'COLE_BILINGUE',
       'COLE_CARACTER', 'COLE_COD_DANE_SEDE', 'COLE_NOMBRE_SEDE',
       'COLE_SEDE_PRINCIPAL', 'COLE_AREA_UBICACION', 'COLE_JORNADA',
       'COLE_COD_MCPIO_UBICACION', 'COLE_MCPIO_UBICACION',
       'COLE_COD_DEPTO_UBICACION', 'COLE_DEPTO_UBICACION',
       'ESTU_PRIVADO_LIBERTAD', 'ESTU_COD_MCPIO_PRESENTACION',
       'ESTU_MCPIO_PRESENTACION', 'ESTU_DEPTO_PRESENTACION',
       'ESTU_COD_DEPTO_PRESENTACION', 'PUNT_LECTURA_CRITICA',
       'PERCENTIL_LECTURA_CRITICA', 'DESEMP_LECTURA_CRITICA',
       'PUNT_MATEMATICAS', 'PERCENTIL_MATEMATICAS', 'DESEMP_MATEMATICAS',
       'PUNT_C_NATURALES', 'PERCENTIL_C_NATURALES', 'DESEMP_C_NATURALES',
       'PUNT_SOCIALES_CIUDADANAS', 'PERCENTIL_SOCIALES_CIUDADANAS',
       'DESEMP_SOCIALES_CIUDADANAS', 'PUNT_INGLES', 'PERCENTIL_INGLES',
       'DESEMP_INGLES', 'PUNT_GLOBAL', 'PERCENTIL_GLOBAL',
       'ESTU_INSE_INDIVIDUAL', 'ESTU_NSE_INDIVIDUAL',
       'ESTU_NSE_ESTABLECIMIENTO', 'ESTU_ESTADOINVESTIGACION',
       'ESTU_GENERACION-E', 'ESTU_ETNIA', 'ESTU_PILOPAGA',
       'ESTU_LIMITA_MOTRIZ'],
      dtype='object')

In [13]:
df['ESTU_LIMITA_MOTRIZ'].isna().value_counts()

True     1650062
False          1
Name: ESTU_LIMITA_MOTRIZ, dtype: int64

In [22]:
df.head(4)

,ESTU_CONSECUTIVO,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,...,PUNT_GLOBAL,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_ESTADOINVESTIGACION,ESTU_GENERACION-E,ESTU_ETNIA,ESTU_PILOPAGA,ESTU_LIMITA_MOTRIZ
0,SB11202040001656,TI,COLOMBIA,M,03/07/2003,20204,ESTUDIANTE,COLOMBIA,No,CALDAS,...,261,61.0,61.340840,3.0,3.0,PUBLICAR,NO,NaN,NaN,NaN
1,SB11202040001763,TI,COLOMBIA,F,16/06/2003,20204,ESTUDIANTE,COLOMBIA,No,BOGOTÁ,...,306,87.0,71.825844,4.0,4.0,PUBLICAR,NO,NaN,NaN,NaN
2,SB11202040001490,TI,COLOMBIA,F,11/09/2003,20204,ESTUDIANTE,COLOMBIA,No,BOGOTÁ,...,321,92.0,57.286312,3.0,3.0,PUBLICAR,NO,NaN,NaN,NaN
3,SB11202040096445,TI,COLOMBIA,M,05/03/2004,20204,ESTUDIANTE,COLOMBIA,No,BOGOTÁ,...,338,96.0,67.476602,4.0,4.0,PUBLICAR,NO,NaN,NaN,NaN

In [29]:
df[df['ESTU_DEPTO_RESIDE']== 'BOGOTÁ']

,ESTU_CONSECUTIVO,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,...,PUNT_GLOBAL,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_ESTADOINVESTIGACION,ESTU_GENERACION-E,ESTU_ETNIA,ESTU_PILOPAGA,ESTU_LIMITA_MOTRIZ
0,SB11202040001656,TI,COLOMBIA,M,03/07/2003,20204,ESTUDIANTE,COLOMBIA,No,BOGOTÁ,...,261,61.0,61.340840,3.0,3.0,PUBLICAR,NO,NaN,NaN,NaN
1,SB11202040001763,TI,COLOMBIA,F,16/06/2003,20204,ESTUDIANTE,COLOMBIA,No,BOGOTÁ,...,306,87.0,71.825844,4.0,4.0,PUBLICAR,NO,NaN,NaN,NaN
2,SB11202040001490,TI,COLOMBIA,F,11/09/2003,20204,ESTUDIANTE,COLOMBIA,No,BOGOTÁ,...,321,92.0,57.286312,3.0,3.0,PUBLICAR,NO,NaN,NaN,NaN
3,SB11202040096445,TI,COLOMBIA,M,05/03/2004,20204,ESTUDIANTE,COLOMBIA,No,BOGOTÁ,...,338,96.0,67.476602,4.0,4.0,PUBLICAR,NO,NaN,NaN,NaN
4,SB11202040048154,TI,COLOMBIA,M,30/08/2003,20204,ESTUDIANTE,COLOMBIA,No,BOGOTÁ,...,225,35.0,43.877158,2.0,2.0,PUBLICAR,GENERACION E - GRATUIDAD,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650058,SB11202010002849,TI,ITALIA,F,24/08/0003,20201,ESTUDIANTE,ITALIA,No,BOGOTÁ,...,303,54.0,NaN,NaN,NaN,PUBLICAR,NO,NaN,NaN,NaN
1650059,SB11202010004430,TI,PAÍSES BAJOS - HOLANDA,F,21/05/2002,20201,ESTUDIANTE,PAÍSES BAJOS - HOLANDA,No,BOGOTÁ,...,366,91.0,NaN,NaN,NaN,PUBLICAR,NO,NaN,NaN,NaN
1650060,SB11202010008503,TI,VENEZUELA,F,07/12/2001,20201,ESTUDIANTE,VENEZUELA,No,BOGOTÁ,...,337,76.0,NaN,NaN,NaN,PUBLICAR,NO,NaN,NaN,NaN
1650061,SB11202010072919,TI,VENEZUELA,F,25/04/2003,20201,ESTUDIANTE,VENEZUELA,No,BOGOTÁ,...,253,28.0,NaN,NaN,NaN,PUBLICAR,GENERACION E - GRATUIDAD,NaN,NaN,NaN
1650062,SB11202010002521,TI,VENEZUELA,M,27/12/0001,20201,ESTUDIANTE,VENEZUELA,No,BOGOTÁ,...,359,88.0,NaN,NaN,NaN,PUBLICAR,NO,NaN,NaN,NaN

In [30]:
df['ESTU_PILOPAGA'].isna().value_counts()

True     1637536
False      12527
Name: ESTU_PILOPAGA, dtype: int64

In [31]:
df['ESTU_NACIONALIDAD'].value_counts()/len(df)*100

COLOMBIA             99.684133
VENEZUELA             0.265687
ESTADOS UNIDOS        0.013272
ESPAÑA                0.008000
ECUADOR               0.006060
                       ...
NAMIBIA               0.000061
PUERTO RICO           0.000061
CROACIA               0.000061
IRÁN                  0.000061
ANTIGUA Y BARBUDA     0.000061
Name: ESTU_NACIONALIDAD, Length: 61, dtype: float64

In [16]:
df['ESTU_NACIONALIDAD'].value_counts()/len(df)*100

COLOMBIA             99.684133
VENEZUELA             0.265687
ESTADOS UNIDOS        0.013272
ESPAÑA                0.008000
ECUADOR               0.006060
                       ...
NAMIBIA               0.000061
PUERTO RICO           0.000061
CROACIA               0.000061
IRÁN                  0.000061
ANTIGUA Y BARBUDA     0.000061
Name: ESTU_NACIONALIDAD, Length: 61, dtype: float64

In [17]:
import pandas
import random

filename = "icfes_data.txt"
n = sum(1 for line in open(filename)) - 1 #number of records in file (excludes header)
s = 10000 #desired sample size
skip = sorted(random.sample(range(1,n+1),n-s)) #the 0-indexed header will not be included in the skip list
df = pandas.read_csv(filename, skiprows=skip)

FileNotFoundError: [Errno 2] No such file or directory: 'icfes_data.txt'

In [34]:
filename = "icfes_data.csv"
n = sum(1 for line in open(filename, encoding="utf8"))

In [ ]:
n = 1650063 #number of records in file
s = 100000 #desired sample size
filename = "icfes_data.csv"

skip = sorted(random.sample(range(n),n-s))

df = pd.read_csv(filename, skiprows=skip, sep='\t', engine='python')