# INTENTO No 1

In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
df = pd.read_csv('icfes_data.csv', sep='\t')

c:\Users\Jonathan Diaz\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (77,80,81,82,83) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
columns = df.columns
print('El dataset tiene '+str(len(columns))+' columnas')

El dataset tiene 84 columnas

In [4]:
df[columns[0:10]].head()

,ESTU_CONSECUTIVO,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE
0,SB11202040001656,TI,COLOMBIA,M,03/07/2003,20204,ESTUDIANTE,COLOMBIA,No,CALDAS
1,SB11202040001763,TI,COLOMBIA,F,16/06/2003,20204,ESTUDIANTE,COLOMBIA,No,BOGOTÁ
2,SB11202040001490,TI,COLOMBIA,F,11/09/2003,20204,ESTUDIANTE,COLOMBIA,No,BOGOTÁ
3,SB11202040096445,TI,COLOMBIA,M,05/03/2004,20204,ESTUDIANTE,COLOMBIA,No,BOGOTÁ
4,SB11202040048154,TI,COLOMBIA,M,30/08/2003,20204,ESTUDIANTE,COLOMBIA,No,TOLIMA

In [5]:
print('Porcentaje de valores únicos de al columna ESTU-CONSECUTIVO:')
len(df['ESTU_CONSECUTIVO'].unique())/len(df)*100

Porcentaje de valores únicos de al columna ESTU-CONSECUTIVO:

100.0

In [6]:
print('Porcentaje de registros dependiendo del tipo de documento:')
df['ESTU_TIPODOCUMENTO'].value_counts()/len(df)*100

Porcentaje de registros dependiendo del tipo de documento:

TI      81.506646
CC      16.912627
CR       1.161713
CE       0.204901
NES      0.149934
PEP      0.042726
PE       0.017090
RC       0.002606
PC       0.001212
CCB      0.000242
NUIP     0.000121
V        0.000121
NIP      0.000061
Name: ESTU_TIPODOCUMENTO, dtype: float64

In [7]:
print('Porcentaje de personas que tomaron la prueba dependiendo de la nacionalidad:')
df['ESTU_NACIONALIDAD'].value_counts()/len(df)*100

Porcentaje de personas que tomaron la prueba dependiendo de la nacionalidad:

COLOMBIA          99.684133
VENEZUELA          0.265687
ESTADOS UNIDOS     0.013272
ESPAÑA             0.008000
ECUADOR            0.006060
                    ...
ARABIA SAUDITA     0.000061
NAMIBIA            0.000061
PARAGUAY           0.000061
LITUANIA           0.000061
NORUEGA            0.000061
Name: ESTU_NACIONALIDAD, Length: 61, dtype: float64

In [8]:
print('Porcentaje de hombres y mujeres')
df['ESTU_GENERO'].value_counts()/len(df)

Porcentaje de hombres y mujeres

F    0.542097
M    0.457833
Name: ESTU_GENERO, dtype: float64

In [9]:
print('Porcentaje exámenes presentados por periodo académico:')
df['PERIODO'].value_counts()/len(df)

Porcentaje exámenes presentados por periodo académico:

20182    0.333281
20194    0.331025
20204    0.305971
20191    0.012777
20201    0.009354
20181    0.007592
Name: PERIODO, dtype: float64

In [10]:
print('Columna innecesaria')
df['ESTU_ESTUDIANTE'].value_counts()

Columna innecesaria

ESTUDIANTE    1650063
Name: ESTU_ESTUDIANTE, dtype: int64

In [11]:
print('Porcentaje de estudiantes por pais de residencia:')
df['ESTU_PAIS_RESIDE'].value_counts()/len(df)*100

Porcentaje de estudiantes por pais de residencia:

COLOMBIA          99.684133
VENEZUELA          0.265687
ESTADOS UNIDOS     0.013272
ESPAÑA             0.008000
ECUADOR            0.006060
                    ...
ARABIA SAUDITA     0.000061
NAMIBIA            0.000061
PARAGUAY           0.000061
LITUANIA           0.000061
NORUEGA            0.000061
Name: ESTU_PAIS_RESIDE, Length: 61, dtype: float64

In [12]:
print('Porcentaje de estudiantes que tienen etnia:')
df['ESTU_TIENEETNIA'].value_counts()/len(df)*100

Porcentaje de estudiantes que tienen etnia:

No    93.198926
Si     6.541205
Name: ESTU_TIENEETNIA, dtype: float64

In [13]:
print('Departamentos:')
df['ESTU_DEPTO_RESIDE'].unique()

Departamentos:

array(['CALDAS', 'BOGOTÁ', 'TOLIMA', 'CESAR', 'ANTIOQUIA', 'CAUCA',
       'CUNDINAMARCA', 'ATLANTICO', 'META', 'RISARALDA', 'BOLIVAR',
       'LA GUAJIRA', 'VALLE', 'NORTE SANTANDER', 'NARIÑO', 'BOYACA',
       'SANTANDER', 'HUILA', 'CAQUETA', 'CASANARE', 'CORDOBA',
       'SAN ANDRES', 'ARAUCA', 'SUCRE', 'QUINDIO', 'MAGDALENA',
       'PUTUMAYO', 'CHOCO', 'GUAVIARE', 'AMAZONAS', 'VICHADA', 'VAUPES',
       'GUAINIA', 'EXTRANJERO', nan, 'BOGOTA'], dtype=object)

In [14]:
print('Codigos Departamentos:')
df['ESTU_COD_RESIDE_DEPTO']

Codigos Departamentos:

0          17.0
1          11.0
2          11.0
3          11.0
4          73.0
           ...
1650058    76.0
1650059    76.0
1650060    11.0
1650061    54.0
1650062    76.0
Name: ESTU_COD_RESIDE_DEPTO, Length: 1650063, dtype: float64

In [15]:
print('Municipios:')
df['ESTU_MCPIO_RESIDE'].unique()

Municipios:

array(['CHINCHINÁ', 'BOGOTÁ D.C.', 'GUAMO', ..., 'TUNUNGUÁ', 'MORICHAL',
       'MAPIRIPANA'], dtype=object)

In [16]:
print('Código Municipios:')
len(df['ESTU_COD_RESIDE_MCPIO'].unique())

Código Municipios:

1120

In [17]:
print('Estratos de vivienda estudiantes:')
df['FAMI_ESTRATOVIVIENDA'].unique()

Estratos de vivienda estudiantes:

array(['Estrato 5', 'Estrato 3', 'Estrato 1', 'Sin Estrato', 'Estrato 2',
       'Estrato 4', nan, 'Estrato 6'], dtype=object)

In [18]:
print('Cantidad de personas en el hogar:')
df['FAMI_PERSONASHOGAR'].value_counts()/len(df)*100

Cantidad de personas en el hogar:

3 a 4      47.335950
5 a 6      30.809066
7 a 8       8.148659
1 a 2       7.289116
9 o más     3.241210
Name: FAMI_PERSONASHOGAR, dtype: float64

In [19]:
print('Cantidad de habitaciones en el hogar:')
df['FAMI_CUARTOSHOGAR'].value_counts()/len(df)*100

Cantidad de habitaciones en el hogar:

Tres          37.860979
Dos           34.074214
Cuatro        13.145316
Uno            5.057564
Cinco          4.204324
Seis o mas     2.309185
Name: FAMI_CUARTOSHOGAR, dtype: float64

In [20]:
print('Eduación del padre:')
df['FAMI_EDUCACIONPADRE'].value_counts()/len(df)*100

Eduación del padre:

Secundaria (Bachillerato) completa      21.774441
Primaria incompleta                     18.124944
Secundaria (Bachillerato) incompleta    12.879690
Primaria completa                        9.648177
Educación profesional completa           9.217103
Técnica o tecnológica completa           6.451208
No sabe                                  5.909229
Ninguno                                  3.660709
Postgrado                                2.213128
Técnica o tecnológica incompleta         1.962652
Educación profesional incompleta         1.930169
No Aplica                                1.233892
Name: FAMI_EDUCACIONPADRE, dtype: float64

In [21]:
print('Eduación de la madre:')
df['FAMI_EDUCACIONMADRE'].value_counts()/len(df)*100

Eduación de la madre:

Secundaria (Bachillerato) completa      25.104738
Primaria incompleta                     14.208670
Secundaria (Bachillerato) incompleta    13.690386
Educación profesional completa          10.840738
Técnica o tecnológica completa           9.650904
Primaria completa                        9.607209
Técnica o tecnológica incompleta         2.892132
Postgrado                                2.434695
Educación profesional incompleta         2.371667
Ninguno                                  2.279004
No sabe                                  1.723571
No Aplica                                0.194356
Name: FAMI_EDUCACIONMADRE, dtype: float64

In [52]:
print('Eduación de la madre:')
df['FAMI_TRABAJOLABORPADRE'].value_counts()/len(df)*100

Eduación de la madre:

Es agricultor, pesquero o jornalero                                                                     13.662630
Trabaja por cuenta propia (por ejemplo plomero, electricista)                                           11.017640
Es dueño de un negocio pequeño (tiene pocos empleados o no tiene, por ejemplo tienda, papelería, etc    10.809527
Es operario de máquinas o conduce vehículos (taxita, chofer)                                             9.831928
No sabe                                                                                                  8.539795
Trabaja como profesional (por ejemplo médico, abogado, ingeniero)                                        8.059510
Trabaja como personal de limpieza, mantenimiento, seguridad o construcción                               6.925675
Trabaja en el hogar, no trabaja o estudia                                                                6.197642
No aplica                                                                                                5.937773
Es vendedor o trabaja en atención al público                                                             5.914138
Tiene un trabajo de tipo auxiliar administrativo (por ejemplo, secretario o asistente)                   4.180689
Es dueño de un negocio grande, tiene un cargo de nivel directivo o gerencial                             2.723896
Pensionado                                                                                               2.435483
Name: FAMI_TRABAJOLABORPADRE, dtype: float64

In [23]:
df['FAMI_SITUACIONECONOMICA'].unique()

array(['Peor', 'Igual', 'Mejor', nan], dtype=object)

In [24]:
df['ESTU_GENERACION-E'].value_counts()

NO                                         838906
GENERACION E - GRATUIDAD                   784015
GENERACION E - EXCELENCIA NACIONAL          14141
GENERACION E - EXCELENCIA DEPARTAMENTAL       474
Name: ESTU_GENERACION-E, dtype: int64

In [25]:
# ESTU_CONSECUTIVO
# ESTU_TIPODOCUMENTO
ESTU_NACIONALIDAD #Quedarse solo con colombianos
ESTU_GENERO
ESTU_FECHANACIMIENTO
PERIODO
# ESTU_ESTUDIANTE
ESTU_PAIS_RESIDE #Quedarse solo con residentes en colombia
ESTU_TIENEETNIA 
ESTU_DEPTO_RESIDE
# ESTU_COD_RESIDE_DEPTO
ESTU_MCPIO_RESIDE
# ESTU_COD_RESIDE_MCPIO
FAMI_ESTRATOVIVIENDA
# FAMI_PERSONASHOGAR
# FAMI_CUARTOSHOGAR
FAMI_EDUCACIONPADRE
FAMI_EDUCACIONMADRE
# FAMI_TRABAJOLABORPADRE
# FAMI_TRABAJOLABORMADRE
FAMI_TIENEINTERNET
# FAMI_TIENESERVICIOTV
FAMI_TIENECOMPUTADOR
# FAMI_TIENELAVADORA
# FAMI_TIENEHORNOMICROOGAS
# FAMI_TIENEAUTOMOVIL
# FAMI_TIENEMOTOCICLETA
# FAMI_TIENECONSOLAVIDEOJUEGOS
# FAMI_NUMLIBROS
# FAMI_COMELECHEDERIVADOS
# FAMI_COMECARNEPESCADOHUEVO
# FAMI_COMECEREALFRUTOSLEGUMBRE
FAMI_SITUACIONECONOMICA
# ESTU_DEDICACIONLECTURADIARIA
# ESTU_DEDICACIONINTERNET
# ESTU_HORASSEMANATRABAJA
# ESTU_TIPOREMUNERACION
# COLE_CODIGO_ICFES
# COLE_COD_DANE_ESTABLECIMIENTO
# COLE_NOMBRE_ESTABLECIMIENTO
# COLE_GENERO
# COLE_NATURALEZA
# COLE_CALENDARIO
# COLE_BILINGUE
# COLE_CARACTER
# COLE_COD_DANE_SEDE
# COLE_NOMBRE_SEDE
# COLE_SEDE_PRINCIPAL
# COLE_AREA_UBICACION
# COLE_JORNADA
# COLE_COD_MCPIO_UBICACION
# COLE_MCPIO_UBICACION
# COLE_COD_DEPTO_UBICACION
# COLE_DEPTO_UBICACION
# ESTU_PRIVADO_LIBERTAD
# ESTU_COD_MCPIO_PRESENTACION
# ESTU_MCPIO_PRESENTACION
# ESTU_DEPTO_PRESENTACION
# ESTU_COD_DEPTO_PRESENTACION
PUNT_LECTURA_CRITICA
# PERCENTIL_LECTURA_CRITICA
DESEMP_LECTURA_CRITICA
PUNT_MATEMATICAS
# PERCENTIL_MATEMATICAS
DESEMP_MATEMATICAS
PUNT_C_NATURALES
# PERCENTIL_C_NATURALES
DESEMP_C_NATURALES
PUNT_SOCIALES_CIUDADANAS
# PERCENTIL_SOCIALES_CIUDADANAS
DESEMP_SOCIALES_CIUDADANAS
PUNT_INGLES
# PERCENTIL_INGLES
DESEMP_INGLES
PUNT_GLOBAL
# PERCENTIL_GLOBAL
ESTU_INSE_INDIVIDUAL
# ESTU_NSE_INDIVIDUAL
# ESTU_NSE_ESTABLECIMIENTO
# ESTU_ESTADOINVESTIGACION
ESTU_GENERACION-E
# ESTU_ETNIA
# ESTU_PILOPAGA
# ESTU_LIMITA_MOTRIZ

NameError: name 'ESTU_NACIONALIDAD' is not defined

In [27]:
df['COLE_GENERO'].value_counts()/len(df)*100

MIXTO        96.548677
FEMENINO      2.626263
MASCULINO     0.825059
Name: COLE_GENERO, dtype: float64

In [28]:
df['COLE_NATURALEZA'].value_counts()/len(df)*100

OFICIAL       74.366615
NO OFICIAL    25.633385
Name: COLE_NATURALEZA, dtype: float64

In [29]:
df['COLE_BILINGUE'].isna().value_counts()/len(df)*100

False    84.137091
True     15.862909
Name: COLE_BILINGUE, dtype: float64

In [30]:
df['COLE_BILINGUE'].value_counts()/len(df)*100

N    82.531758
S     1.605333
Name: COLE_BILINGUE, dtype: float64

In [31]:
df['COLE_CARACTER'].value_counts()/len(df)*100

ACADÉMICO            52.734290
TÉCNICO/ACADÉMICO    32.581362
TÉCNICO              10.828071
NO APLICA             1.224256
Name: COLE_CARACTER, dtype: float64

In [32]:
df['COLE_JORNADA'].value_counts()/len(df)*100

MAÑANA      45.177427
COMPLETA    17.424123
UNICA       14.766163
TARDE       10.634745
SABATINA     6.488783
NOCHE        5.508759
Name: COLE_JORNADA, dtype: float64

In [33]:
df['ESTU_LIMITA_MOTRIZ'].isna().value_counts()

True     1650062
False          1
Name: ESTU_LIMITA_MOTRIZ, dtype: int64

In [34]:
df['ESTU_PILOPAGA'].isna().value_counts()

True     1637536
False      12527
Name: ESTU_PILOPAGA, dtype: int64

In [35]:
df['ESTU_NACIONALIDAD'].value_counts()/len(df)*100

COLOMBIA          99.684133
VENEZUELA          0.265687
ESTADOS UNIDOS     0.013272
ESPAÑA             0.008000
ECUADOR            0.006060
                    ...
ARABIA SAUDITA     0.000061
NAMIBIA            0.000061
PARAGUAY           0.000061
LITUANIA           0.000061
NORUEGA            0.000061
Name: ESTU_NACIONALIDAD, Length: 61, dtype: float64

In [47]:
#Columnas de interés
columnas = [
    'ESTU_GENERO',
    'ESTU_FECHANACIMIENTO',
    'PERIODO',
    'ESTU_TIENEETNIA',
    'ESTU_DEPTO_RESIDE',
    'ESTU_MCPIO_RESIDE',
    'FAMI_ESTRATOVIVIENDA',
    'FAMI_EDUCACIONPADRE',
    'FAMI_EDUCACIONMADRE',
    'FAMI_TIENEINTERNET',
    'FAMI_TIENECOMPUTADOR',
    'FAMI_SITUACIONECONOMICA',
    'PUNT_LECTURA_CRITICA',
    'DESEMP_LECTURA_CRITICA',
    'PUNT_MATEMATICAS',
    'DESEMP_MATEMATICAS',
    'PUNT_C_NATURALES',
    'DESEMP_C_NATURALES',
    'PUNT_SOCIALES_CIUDADANAS',
    'DESEMP_SOCIALES_CIUDADANAS',
    'PUNT_INGLES',
    'DESEMP_INGLES',
    'PUNT_GLOBAL',
    'ESTU_INSE_INDIVIDUAL',
    'ESTU_GENERACION-E',
]

In [53]:
df_est = df[columnas]
df_est = df_est[(df['ESTU_NACIONALIDAD']=='COLOMBIA') & (df['ESTU_NACIONALIDAD']=='COLOMBIA')]

## Análisis preliminar

In [50]:
df_est.head()

,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,ESTU_MCPIO_RESIDE,FAMI_ESTRATOVIVIENDA,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,FAMI_TIENEINTERNET,...,DESEMP_MATEMATICAS,PUNT_C_NATURALES,DESEMP_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,DESEMP_SOCIALES_CIUDADANAS,PUNT_INGLES,DESEMP_INGLES,PUNT_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_GENERACION-E
0,M,03/07/2003,20204,No,CALDAS,CHINCHINÁ,Estrato 5,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,Si,...,3,50,2,56,3,48.0,A1,261,61.340840,NO
1,F,16/06/2003,20204,No,BOGOTÁ,BOGOTÁ D.C.,Estrato 3,Postgrado,Educación profesional completa,Si,...,3,63,3,57,3,58.0,A2,306,71.825844,NO
2,F,11/09/2003,20204,No,BOGOTÁ,BOGOTÁ D.C.,Estrato 1,Técnica o tecnológica completa,Técnica o tecnológica incompleta,Si,...,3,63,3,67,3,51.0,A1,321,57.286312,NO
3,M,05/03/2004,20204,No,BOGOTÁ,BOGOTÁ D.C.,Estrato 3,Postgrado,Educación profesional completa,Si,...,3,75,4,67,3,67.0,A2,338,67.476602,NO
4,M,30/08/2003,20204,No,TOLIMA,GUAMO,Estrato 1,Primaria completa,Secundaria (Bachillerato) incompleta,Si,...,2,45,2,40,1,29.0,A-,225,43.877158,GENERACION E - GRATUIDAD